
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="output.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
   
    <nav class="sticky top-0 left-0 z-10 flex justify-between  bg-gradient-to-r from-gray-100 to-white border-gray-200">
        <a href="/index" class="back-to-top">
        <svg class=" w-14 ml-5 my-2  hover:scale-105 active:scale-110 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M217.6 96.1c-12.95-.625-24.66 9.156-25.52 22.37C191.2 131.7 201.2 143.1 214.4 143.1c79.53 5.188 148.4 74.09 153.6 153.6c.8281 12.69 11.39 22.43 23.94 22.43c.5156 0 1.047-.0313 1.578-.0625c13.22-.8438 23.25-12.28 22.39-25.5C409.3 191.8 320.3 102.8 217.6 96.1zM224 0C206.3 0 192 14.31 192 32s14.33 32 32 32c123.5 0 224 100.5 224 224c0 17.69 14.33 32 32 32s32-14.31 32-32C512 129.2 382.8 0 224 0zM172.3 226.8C157.7 223.9 144 235.8 144 250.6v50.37c0 10.25 7.127 18.37 16.75 21.1c18.13 6.75 31.26 24.38 31.26 44.1c0 26.5-21.5 47.1-48.01 47.1c-26.5 0-48.01-21.5-48.01-47.1V120c0-13.25-10.75-23.1-24.01-23.1l-48.01 .0076C10.75 96.02 0 106.8 0 120v247.1c0 89.5 82.14 160.2 175 140.7c54.38-11.5 98.27-55.5 109.8-109.7C302.2 316.1 247.8 241.8 172.3 226.8z"/></svg>
        </a>
        <span class=" font-serif flex">
            
            <form class=" m-2 self-center" action="/logout?_method=DELETE" method="POST" >
                 <button class=" hover:underline-offset-4 hover:scale-110 hover:text-yellow-500  transition ease-out duration-300"type="submit" >Log Out</button>
            </form>
            <a href="/articles/<%=article.id%>/comments/new" class=" p-1.5 rounded-md bg-gradient-to-b from-teal-300 to-blue-300 hover:from-blue-300 hover:to-teal-300 text-white hover:scale-110   transition ease-out duration-700 mr-4 ml-2 self-center ">New comment</a>
        </span>
    </nav>


  

<div class = "container mt-16 mx-auto p-6">
    
    <div class="font-serif drop-shadow-lg w-full h-full flex flex-col justify-between  bg-gray-100  rounded-lg border border-gray-200 mb-6 p-6">
        
        <div >
            <h4 class="  break-words h-auto m-2 text-4xl mb-6 uppercase"><%=article.title%></h4>
            <p class="h-auto mx-4 break-words  text-md"><%= article.description%></p>
        </div>
        <span class=" flex justify-end  ">
            <span class="p-2 my-2 rounded-lg bg-gradient-to-b from-teal-100 to-blue-100 text-xs "><%=article.createdAt.toLocaleDateString()%></span>
        </span>
        <div>
            <div class="flex items-center justify-end mr-2 ">

                <button class="mr-2   flex items-end justify-end underline active:scale-125 hover:underline-offset-4 hover:scale-110 hover:text-teal-500  transition ease-out duration-500">
                    <a href="edit/<%=article.id%>" >Edit</a>
                </button>
                <form action ="/articles/<%= article.id%>?_method=delete" method="post" class="d-inline" >
                    <button  type="submit" class="ml-2  flex items-end justify-end underline active:scale-125 hover:underline-offset-4 hover:scale-110 hover:text-red-600  transition ease-out duration-200">Delete</button>  
                </form>


            </div>
        </div>
    </div>
    
    <div class = "font-serif container  mt-24 mx-auto ">
        <div class="text-4xl mt-5 pb-1 border-b-2 border-gray-200 uppercase">Comment</div>
        
        <div class="font-serif  w-full h-full flex flex-col justify-between    mb-6  pl-24 py-10">
    <!--留言成功-->
    <% comments.forEach(comment =>{
        %>
        
                <h4 class="h-auto p-3 break-words  text-md drop-shadow-md rounded-lg  bg-gray-100  "><%=comment.commentcontent%></h4>
                


                <div class="flex items-center justify-end mb-4 pr-2">
                    <div class = "p-1 my-2 rounded-lg bg-gradient-to-b from-teal-100 to-blue-100 text-xs  mr-2"><%=comment.createdAt.toLocaleDateString()%> </div>
                    <button class="m-2    underline hover:underline-offset-4 active:scale-125 hover:scale-110 hover:text-teal-500  transition ease-out duration-700">
                        <a href="/articles/<%=comment.id%>/comments/edit"  class="btn btn-info">Edit</a>
                    </button>
                    <form action ="/articles/<%= comment.id%>/comments/delete?_method=delete" method="post" class="d-inline" >
                        <button  type="submit" class="m-2   underline active:scale-125 hover:underline-offset-4 hover:scale-110 hover:text-red-600  transition ease-out duration-200">Delete</button>  
                    </form>
                </div>
               
        
        <%
    })%>

    <!--留言成功-->
    
</div>
</div>
</div>


<footer class="sticky  bg-gray-800 py-8 sm:mt-10 font-serif">
    <div class="px-4 max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center">
        <!-- Col-1 -->
        <div class="mx-auto ">


            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400  mb-3">
                Resources
            </div>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm duration-700">
                Tailwindcss
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm duration-700">
                Tailwindcomponent
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm duration-700">
                pinterest
            </a>
        </div>
        <div class="mx-auto">


            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400 mb-3">
                Resources
            </div>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                Tailwindcss
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                Tailwindcomponent
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                pinterest
            </a>
        </div>
        <div class="mx-auto">


            <!-- Col Title -->
            <div class="text-xs uppercase text-gray-400  mb-3">
                Social Media
            </div>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                IG
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                Facebook
            </a>
            <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm  duration-700">
                twitter
            </a>
        </div>
        

        


    <!-- Copyright Bar -->
    
    </div>

    <div class="pt-2">
        <div class="flex  px-3 m-auto pt-2
            border-t border-gray-500 text-gray-400 text-sm 
            flex-col  items-center justify-center md:flex-row max-w-6xl ">
            <div class="mt-2">
                © Copyright 1998-year. All Rights Reserved.
            </div>

            
        </div>
</footer>
</body>
</html>